{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block main %}
<div class="container">
  <h1>{% trans 'HELLO WORLD' %}</h1>
  <p>{% trans 'Bacon ipsum dolor sit amet strip steak pork belly venison beef ribs, sirloin prosciutto capicola pig fatback chuck chicken shank bresaola ham hock. Flank turducken tail jowl hamburger brisket drumstick meatloaf fatback short loin tongue short ribs kielbasa. Short loin tenderloin corned beef pancetta capicola kielbasa sirloin chicken pork loin short ribs t-bone ground round ball tip bacon jowl. Venison kielbasa fatback ham pork loin, ball tip chicken turkey ribeye corned beef jerky bresaola tri-tip. Ham hock tongue pork belly bresaola flank brisket tenderloin. Ham hock leberkas bresaola, andouille ham beef ribs pork sausage chuck meatloaf.' %}</p>
</div>
{% endblock %}